body {
  background-color: white;
  color: black;
  font-family: 'Playfair Display', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}



#filters {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 30px;
}

.filters {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
}


#canvas-section {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  justify-content: space-around;

}

#canvas-section div {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.button {
  margin: auto;

}

.canvas {
  border: 1px solid black;
  margin: 10px;
}

/*  dimension of the canvas to display are canvas' dimension / 4 */
.iphone55 {
  width: 310px;
  height: 552px;
}

.iphone65 {
  width: 310px;
  height: 672px;
}

.android6 {
  width: 325px;
  height: 635px;
}

.ipad_portrait {
  width: 512px;
  height: 683px;
}

.nexus_7 {
  width: 375px;
  height: 587px;
}

.nexus_9 {
  width: 500px;
  height: 725px;
}

.nexus_10 {
  width: 550px;
  height: 785px;
}

.android_10_anonym {
  width: 550px;
  height: 818px;
}
